<div *ngIf="pokaz">
  <app-product [product]="product1" (dodaj)="onDodaj($event)"></app-product>
  <app-product [product]="product2" (dodaj)="onDodaj($event)"></app-product>
  <app-product [product]="product3" (dodaj)="onDodaj($event)"></app-product>
  <app-product [product]="product4" (dodaj)="onDodaj($event)"></app-product>
  <app-product [product]="product5" (dodaj)="onDodaj($event)"></app-product>
  </div>
  <button (click)="Produkty()">{{text}}</button>
  <app-koszyk [suma]="naleznosc"></app-koszyk>
